[submodule "ChamferDistancePytorch"]
	path = ChamferDistancePytorch
	url = https://github.com/ThibaultGROUEIX/ChamferDistancePytorch
[submodule "SoftRas"]
	path = SoftRas
	url = git@github.com:ShichenLiu/SoftRas.git
